<template name="Taskdetail">
	{{#contentFor "breadcrumbs"}}
		<li>
			{{#linkTo route='home' class="btn btn-link"}}
				Home
			{{/linkTo}}
		</li>
		<li>
			<span class="btn btn-link">{{task}}</span>
		</li>
	{{/contentFor}}
	
	<div class="main container">
		{{#if get 'isEditing'}}
			<form class="edit-task">
				<div class="form-group">
					<label for="tasktitle">Title</label>
					<input type="text" name="task" id="tasktitle" value="{{task}}" placeholder="Task title" class="form-control">
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<textarea name="taskdescription" placeholder="Task Description" 
								class="form-control" id="description">
						{{taskDescription}}
					</textarea>					
				</div>
				<input type="submit" class="btn btn-default" value="Save">
				{{#linkTo route='Taskdetail'}}
					<span class="btn btn-default">Cancel</span>
				{{/linkTo}}
			</form>
		{{else}}
			<div class="form-group">
				<label for="tasktitle">Title</label>
				<input type="text" name="task" id="tasktitle" value="{{task}}" placeholder="Task title" class="form-control" readonly="true">
			</div>
			<div class="form-group">
				<label for="description">Description</label>
				<textarea name="taskdescription" placeholder="Task Description" 
							class="form-control" id="description" readonly="true">{{taskDescription}}</textarea>
			</div>
			{{#linkTo route='EditTask'}}
				<span class="btn btn-default">Edit</span>
			{{/linkTo}}
		{{/if}}
	</div>
	
</template>
