<template name="Task">
	<div class="row">
<!--		<div class="checkbox">
			<label> -->
		<ul class="list-inline">
			<li class="task-item checkbox">
				<label>
					<input type="checkbox" name="isDone" checked="{{isDoneChecked}}">
<!--			<li class="task-item"> -->
					<span class="{{isDone}}">
						{{#linkTo route='Taskdetail'}}
							{{task}}
						{{/linkTo}}
					</span>
				</label> 
			</li>
		</ul>
		<ul class="list-inline actions-line">
			<li class="pull-left actions">
				Created On: {{formatDate createdOn}}
			</li>
			<li class="pull-right actions">
				{{#linkTo route='EditTask'}}
					<span class="glyphicon glyphicon-edit edit-button" aria-hidden="true" name="edit"></span>
				{{/linkTo}}
				<span class="glyphicon glyphicon-trash delete-button" aria-hidden="true" name="delete"></span>
			</li>
		</ul>
<!--			</label>
		</div> -->
	</div>
</template>
